{{#partial "content"}}
    {{#if restaurant}}
        {{restaurant.name}}<br>
        {{restaurant.type}}<br>
        {{restaurant.street}}<br>
        {{restaurant.city}}<br>
        {{restaurant.state}}<br>
        {{restaurant.zip}}<br>
        <a href="/restaurants/{{restaurant.id}}/update">Update Info</a><br>
    {{/if}}

    {{#if happyhours}}
        {{#each happyhours}}
            {{description}}
            {{price}}
            {{days}}
            {{time}}
        {{/each}}
        <a href="/restaurants/{{restaurant.id}}/happyhours/new">Create new happy hour</a>
    {{/if}}
{{/partial}}

{{> layout.hbs}}